@model HabitAqui.Models.Arrendamento

@{
    ViewData["Title"] = "Avaliar Arrendamento";
}

<h1>Avaliar Arrendamento</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Avaliar" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <select asp-for="AvaliacaoId" asp-items="ViewBag.ListaAvaliacao" class="form-select border-0 py-3">
                <option value="" disabled selected hidden>Avaliação</option>
            </select>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>