@model HabitAqui.ViewModels.ArrendamentosViewModel

@{
    ViewData["Title"] = "Criar";
}

<h1>Criar</h1>

<h4>Arrendamento</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="HabitacaoNome" class="control-label"></label>
            <input asp-for="HabitacaoNome" class="form-control" readonly />
            <span asp-validation-for="HabitacaoNome" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <form asp-action="CalculaPreco">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFinal" class="control-label"></label>
                <input asp-for="DataFinal" class="form-control" />
                <span asp-validation-for="DataFinal" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Calcular o Custo de Arrendamento" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Habitacoes" asp-action="Index">Voltar à Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
