@model HabitAqui.Models.Habitacao

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid header bg-white p-0">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4">Encontre O <span class="text-primary">Sítio Perfeito</span> Para Viver Ou Passar Férias!</h1>
                    <p class="animated fadeIn mb-4 pb-2">
                        Desde casas a apartamentos, a HabitAqui tem tudo o que necessita. Venha experienciar a nossa vasta escolha de imobiliários.
                    </p>
                    <a href="" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Comece já!</a>
                </div>
                <div class="col-md-6 animated fadeIn">
                    <div class="owl-carousel header-carousel">
                        <div class="owl-carousel-item">
                            <img class="img-fluid" src="img/carousel-1.jpg" alt="">
                        </div>
                        <div class="owl-carousel-item">
                            <img class="img-fluid" src="img/carousel-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- Search Start -->
@using (Html.BeginForm("Index", "Habitacoes", FormMethod.Get))
{
    <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
        <div class="container">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-4">
                            <input type="text" class="form-control border-0 py-3" placeholder="Pesquisar...">
                        </div>
                        <div class="col-md-4">
                            <select asp-for="Nome" asp-items="ViewBag.PropriedadeList" class="form-select border-0 py-3">
                                <option selected>Propriedade</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select asp-for="Localizacao" asp-items="ViewBag.LocalizacaoList" class="form-select border-0 py-3">
                                <option selected>Localização</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-dark border-0 w-100 py-3">Pesquisar</button>
                </div>
            </div>
        </div>
    </div>
}

<!-- Search End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="img/about.jpg">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">O Seu Melhor Amigo No Arrendamento De Propriedades!</h1>
                <p class="mb-4">A HabitAqui tratará de tudo. A plataforma permite gerir os seus contratos e arrendamentos com apenas um único clique!</p>
                <p><i class="fa fa-check text-primary me-3"></i>Gestão de arrendamentos</p>
                <p><i class="fa fa-check text-primary me-3"></i>Gestão de contratos</p>
                <p><i class="fa fa-check text-primary me-3"></i>Maior variedade de propriedades do mercado</p>
                <!--<a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>-->
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Property List Start -->
<!-- Property List End -->
<!-- Call to Action Start -->
<!-- Call to Action End -->
<!-- Testimonial Start -->
@*<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Our Clients Say!</h1>
            <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="img/testimonial-1.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Client Name</h6>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="img/testimonial-2.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Client Name</h6>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="img/testimonial-3.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Client Name</h6>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@